- if params[:controller] == 'photos' && params[:action] == 'index'
  .box.box-default
    .box-header
      -# = render :partial => 'photos/breadcrumb'
    .box-body
      #search-date
      -# = render :partial => 'photos/searchbox'
    .box-footer
      = select_tag :searchbox_country, options_for_select(@countries, @album.country), {class:"form-control input-sm form-group"}

      Direction:
      %input{:id=>"searchbox_direction", :type=>"checkbox", :checked=> false, "data-toggle"=>"toggle", "data-size"=>"small"}
