- if params[:controller] == 'photos' && params[:action] == 'index'
  .box.box-default
    .box-header
      = render :partial => 'photos/breadcrumb'
    .box-body
      #search-date
      = render :partial => 'photos/searchbox'
    .box-footer


:coffeescript
  $('#search-date').datepicker
    startView: 2
    maxViewMode: 3
    todayBtn: true
