.panel.panel-default
  .panel-body
    - Catalog.all.each do |catalog|
      - next unless catalog != current_catalog
      .radio
        %label
          %input#optionsRadios1{:checked => current_catalog.sync_from_catalog.to_i==catalog.id , :name => "sync_from_catalog_id", :type => "radio", :value => "#{catalog.id}"}/
          = catalog.name
