#watch-path-group.list-group.input-group
  - cnt = 0
  - @catalog.watch_path.each do |item|
    - cnt = cnt +1
    %input.form-control{:type => "text", :id => "wp_#{cnt}", :name => "wp_#{cnt}", :value => "#{item}"}

.text-right
  %a#add-item{:href => "#"}
    %i.fa.fa-plus
