%ul#watch-path-group.list-unstyled
  - cnt = 0
  - @catalog.watch_path.each do |item|
    - cnt = cnt +1
    %li.wp-path{:id => "wp_#{cnt}"}
      %input.form-control{:type => "text", :id => "wp_#{cnt}", :name => "wp_#{cnt}", :value => "#{item}", :style => "margin-top: 4px;"}

.text-right
  %a#add-item{:href => "#", "data-turbolinks"=> "false"}
    %i.fa.fa-plus
