#watch-path-group>
"class="list-group input-group"&gt;
- cnt = 0
- @catalog.watch_path.each do |item|
  - cnt = cnt +1
  %input#wp_{:type => "text"}/
  = cnt
  " name="wp_#{cnt}" class="form-control" value="#{item}"&gt;
