<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<%= form_tag({controller:'catalogs', action:'addphotos'}, method: "get") do %>
			<div class="form-group">	
				<%= label_tag(:q, "Path to add from:") %>
				<%= text_field_tag 'path', '', class:"form-control" %>
			</div>
			<div class="actions">
				<%= submit_tag("Add", class:"btn btn-default") %>
			</div>
			<% end %>
		</div>
	</div>
</div>
