=content_for :title, "Dashboard"
=content_for :subtitle, @catalog.name

- if @catalog.type == "MasterCatalog"
  = render "catalogs/dashboard/master_catalog"
- elsif @catalog.type == "LocalCatalog"
  = render "catalogs/dashboard/local_catalog"
- elsif @catalog.type == "DropboxCatalog"
  = render "catalogs/dashboard/dropbox_catalog"
