=content_for :title, "Catalogs"
=content_for :subtitle, "all"


- @catalogs.each do |catalog|
  -if catalog.type == "MasterCatalog"
    .col-lg-3.col-xs-6
      %a.small-box.bg-yellow{:href => "/catalogs/#{catalog.id}/dashboard"}
        .inner
          %h3=catalog.name
          %p=catalog.type
        .icon
          %i.fa.fa-asterisk
        .small-box-footer
          Dashboard
          %i.fa.fa-arrow-circle-right
  -elsif catalog.type == "LocalCatalog"
    .col-lg-3.col-xs-6
      %a.small-box.bg-aqua{:href => "/catalogs/#{catalog.id}/dashboard"}
        .inner
          %h3=catalog.name
          %p=catalog.type
        .icon
          %i.fa.fa-map-marker
        .small-box-footer
          Dashboard
          %i.fa.fa-arrow-circle-right
  -elsif catalog.type == "DropboxCatalog"
    .col-lg-3.col-xs-6
      %a.small-box.bg-aqua{:href => "/catalogs/#{catalog.id}/dashboard"}
        .inner
          %h3=catalog.name
          %p=catalog.type
        .icon
          %i.fa.fa-dropbox
        .small-box-footer
          Dashboard
          %i.fa.fa-arrow-circle-right


.col-lg-3.col-xs-6
  / small box
  %a.small-box.bg-green{:href => "/catalogs/new"}
    .inner
      %h3  New catalog
      %p Any...
    .icon
      %i.fa.fa-plus
    .small-box-footer
      Add new catalog
      %i.fa.fa-arrow-circle-right
