=content_for :title, "Catalogs"
=content_for :subtitle, "all"


- @catalogs.each do |catalog|
  .col-lg-3.col-xs-6
    / small box
    .small-box.bg-aqua
      .inner
        %h3=catalog.name
        %p=catalog.type
      .icon
        -if catalog.type == "DropboxCatalog"
          %i.fa.fa-dropbox
        -elsif catalog.type == "MasterCatalog"
          %i.fa.fa-cloud
        -elsif catalog.type == "LocalCatalog"
          %i.fa.fa-pencil
      %a.small-box-footer{:href => "/catalogs/#{catalog.id}/dashboard"}
        Dashboard
        %i.fa.fa-arrow-circle-right
