<div class="row">
	<div class="col-lg-3">
		<h4><%= @catalog.name %> <small>Manage Catalog</small></h4>
	</div>
</div>




<% if @catalog.type == "MasterCatalog" %>

<%= render "catalogs/manage/master_catalog"%>

<% elsif @catalog.type == "LocalCatalog"%>

<%= render "catalogs/manage/local_catalog"%>

<% elsif @catalog.type == "DropboxCatalog"%>


<% end %>
