.col-md-6
  .box.box-primary
    .box-header.with-border
      %h3.box-title Quick Example
    = form_tag("/catalogs/#{@catalog.id}/import", method: "post") do
      .box-body
        =hidden_field_tag "import_action", "DropboxCatalog"
        %button.btn.btn-default{:type => "submit"} Submit
-if @catalog.photos.count > 0
  = render :partial => "catalogs/dashboard/stat_cards"

= render :partial => "jobs/list", locals: {compact: true}
