.col-md-6
  .box.box-primary
    .box-header.with-border
      .pull-right

        =render :partial => "catalogs/dashboard/actions"

      .box-body

        %ul.list-unstyled
          -@catalog.sync_from_albums.each do |album|
            %li
              .h4
                %span.label.label-default=album
