.col-md-6
  .box.box-primary
    .box-header.with-border
      .pull-right

        =render :partial => "catalogs/dashboard/actions"
      .box-body

      .box-footer
        Photos will be imported from:
        %ul.list-unstyled
          -@catalog.watch_path.each do |path|
            %li
              .h4
                %span.label.label-default=path
