


-if @catalog.photos.count > 0

  - s = [{:title=>"Photos",
    :value=>number_with_delimiter(@catalog.photos.count),
    :icon=>"fa-tachometer",
    :color=>"bg-aqua"},
    {:title=>"Photos synchronised",
    :value=>@catalog.synchronized.count,
    :icon=>"fa-tachometer",
    :color=>"bg-aqua"},
    {:title=>"Photos not synchronised",
    :value=>@catalog.not_synchronized.count,
    :icon=>"fa-tachometer",
    :color=>"bg-aqua"},
    {:title=>"Last photo uploaded",
    :value=>@catalog.photos.order(:created_at).limit(1).first.created_at.strftime("%b %d %Y"),
    :icon=>"fa-clock-o",
    :color=>"bg-maroon"},
    {:title=>"First photo taken",
    :value=>@catalog.photos.order(:date_taken).limit(1).first.date_taken.strftime("%b %d %Y"),
    :icon=>"fa-clock-o",
    :color=>"bg-aqua"},
    {:title=>"Last photo taken",
    :value=>@catalog.photos.order(date_taken: :desc).limit(1).first.date_taken.strftime("%b %d %Y"),
    :icon=>"fa-clock-o",
    :color=>"bg-aqua"}]

  -s.each do |sc|
    = render :partial => "catalogs/dashboard/stat_card", locals: sc
- else
  - sc = {:title=>"Photos",
    :value=>0,
    :icon=>"fa-tachometer",
    :color=>"bg-aqua"}
  = render :partial => "catalogs/dashboard/stat_card", locals: sc
