

.col-md-3.col-sm-6.col-xs-12
  .info-box
    %span.info-box-icon.bg-aqua
      %i.fa.fa-photo
    .info-box-content
      %span.info-box-text Photos
      %span.info-box-number=number_with_delimiter @catalog.photos.count
    / /.info-box-content
  / /.info-box
/ /.col
.col-md-3.col-sm-6.col-xs-12
  .info-box
    %span.info-box-icon.bg-green
      %i.fa.fa-clock-o
    .info-box-content
      %span.info-box-text Last photo uploaded
      %span.info-box-number=@catalog.photos.order(:created_at).limit(1).first.created_at.strftime("%b %d %Y")
    / /.info-box-content
  / /.info-box
/ /.col
.col-md-3.col-sm-6.col-xs-12
  .info-box
    %span.info-box-icon.bg-yellow
      %i.fa.fa-clock-o
    .info-box-content
      %span.info-box-text First photo taken
      %span.info-box-number=@catalog.photos.order(:date_taken).limit(1).first.date_taken.strftime("%b %d %Y")
    / /.info-box-content
  / /.info-box
/ /.col
.col-md-3.col-sm-6.col-xs-12
  .info-box
    %span.info-box-icon.bg-red
      %i.fa.fa-clock-o
    .info-box-content
      %span.info-box-text Last photo taken
      %span.info-box-number=@catalog.photos.order(date_taken: :desc).limit(1).first.date_taken.strftime("%b %d %Y")
    / /.info-box-content
  / /.info-box
/ /.col
