.card-panel.grey.lighten-5.z-depth-1{:style=>"padding: 5px;"}
  .row.valign-wrapper
    .col.s3
      %img.circle.responsive-img{:alt => "", :src => current_user.avatar}
    .col.s9
      %input#comment_input{:placeholder => "New comment", :type => "text"}
#box-comments
  - if photo.comments.count > 0
    - photo.comments.reverse_each do |comment|
      =render :partial => "photos/show/comment", :locals => {:comment => comment }
