.nav-tabs-custom
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#tab_1"} Details
    %li
      %a{"data-toggle" => "tab", :href => "#tab_2"} Social
    %li
      %a{"data-toggle" => "tab", :href => "#tab_3"} Timeline
    %li
      %a{"data-toggle" => "tab", :href => "#tab_4"} Edit
    %li
      %a{"data-toggle" => "tab", :href => "#tab_5"} Rotate

  .tab-content
    #tab_1.tab-pane.active
      =render :partial => "photos/show/details", :locals => {:photo => photo }
    #tab_2.tab-pane
      =render :partial => "photos/show/comments_widget", :locals => {:photo => photo }
    #tab_3.tab-pane
      =render :partial => "photos/show/timeline"
    #tab_4.tab-pane
      =render :partial => "photos/show/edit"
    #tab_5.tab-pane
      =render :partial => "photos/show/rotate"

      -#
      -# %a{:href => "/photos/#{photo.id}/rotate/"} Rotate
      -# %a{:href => "/photos/#{photo.id}/edit"} Edit data
      -# %a.delete_photo{:href => "#", :photo_id=>photo.id} Delete
      -# %a{:href => "/photofiles/#{photo.org_id.to_s}/photoserve", :download=>true} Download
