
.box
  .box-header
    .h3.box-title Latests jobs
    .pull-right



  .box-body.table-responsive.no-padding
    %table.table.table-hover
      %thead
        %tr
          %th ID
          %th Status
          %th Type
          %th Queue
          %th Created
          %th Duration
          -if not defined? compact
            %th Arguments
            %th Errors
      %tboby
        -@jobs.each do |job|
          %tr
            %td=job.id
            %td
              - case job.status
              - when 0
                %span.label.label-success Success
              - when 1
                %span.label.label-warning Processing
              - when 2
                %span.label.label-danger Error
            %td=job.job_type
            %td=job.queue
            %td=job.created_at.strftime("%b %d %Y %H:%M:%S")
            %td
              - if not job.completed_at.nil?
                =job.completed_at - job.created_at
            -if not defined? compact
              %td=job.arguments
              %td=job.job_error
  .box-footer
    = will_paginate @jobs
    =#paginate @jobs, :theme => 'twitter-bootstrap-3', :pagination_class=>"pull-right"

:css
td {
  word-break:break-all;
}
