.col-md-3.col-sm-6.col-xs-12
  .album-widget
    %a.album-widget-photo{:href=>"/albums/#{album.id}"}
      .album-widget-label.badge="#{album.count}"
      %img{:src=> "/photos/#{album.random_photo.id}/image/small"}
    .album-widget-content
      .album-widget-title
        =album.name
      .album-widget-text
        =album.album_type
    %a.album-widget-footer{:href=>"/albums/#{album.id}/edit"}Edit
