
<div class="panel panel-default">
	<div class="panel-body">
		<% Album.all.each do |album| %>
		<div class="checkbox">
			<label>
				<input type="checkbox" name="album_chk_<%= album.id %>" id="chk_<%= album.id %>" value="<%= album.id %>" >
				<%= album.name %>	    
			</label>
		</div>	
		<% end %>
	</div>
</div>
