.panel.panel-default
  .panel-body
    - Album.all.each do |album|
      .checkbox
        %label
          %input{:id => "chk_#{album.id}", :name => "album_chk_#{album.id}", :type => "checkbox", :value => "#{album.id}"}/
          = album.name
