.col#bucket-list
  - if @photos_in_bucket.count > 0
    - @photos_in_bucket.each do |photo|
      %img.img-responsive{"data-photoid"=>photo.id, :alt => "...", :src => "/photofiles/#{photo.tm_id.to_s}/photoserve", "height"=>"64", "width"=>"64", :style=>"display:inline"}
  - else
    No Photos in Bucket
