.col
  - @photos_in_bucket.each do |photo|
    %img.img-responsive{:alt => "...", :src => "/photos/#{photo.id.to_s}/image/small", "height"=>"64", "width"=>"64", :style=>"display:inline"}


:javascript
  $('.media-list').slimScroll({
    height: "300px"
  });
