.col-lg-10
  = form_tag(@submit_path, :method => :patch, :class => "form-horizontal" ) do |f|

    .form-group
      .col-sm-1
        %input.inp_toggle{:type=>"checkbox"}
      .col-sm-2
        %label{:for => :date_taken} Date taken
      .col-sm-9
        = datetime_field_tag :date_taken, "",
          value: (@photo.date_taken.strftime("%Y/%m/%d") unless @photo.nil? || @photo.date_taken.nil?),
          placeholder: "Date taken",
          class: "form-control",
          disabled: true
    .form-group
      .col-sm-1
        %input.inp_toggle{:type=>"checkbox"}
      .col-sm-2
        %label{:for => :location_id} Location
      .col-sm-9
        =text_field_tag :location_address,
          "", placeholder: "Enter address...",
          value:(@photo.location.address unless @photo.nil? || @photo.location.nil?),
          class:"form-control typeahead",
          disabled: true
        =hidden_field_tag :location_id

    .form-group
      %button.btn.btn-danger{:type => "submit"} Submit

#map{:style=>"height: 400px; width: 500px;"}

:javascript
  $(document).ready(function(){


    $('.inp_toggle').change(function () {
        tb = $(this).parent().siblings().find(":input")
        tb.prop('disabled', !this.checked);
    });

    $('#date_taken').datepicker({
      format: 'yyyy/mm/dd',
      autoclose: true
    });
    $("#date_taken").datepicker('update');

    // initialize bloodhound engine
    var searchSelector = 'input.typeahead';

    var bloodhound = new Bloodhound({
      datumTokenizer: function (d) {
        return Bloodhound.tokenizers.whitespace(d.value);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,

      // sends ajax request to remote url where %QUERY is user input
      remote: '/locations/typeahead/%QUERY',
      limit: 50
    });
    bloodhound.initialize();

    // initialize typeahead widget and hook it up to bloodhound engine
    // #typeahead is just a text input
    $(searchSelector).typeahead(
      {
        highlight: true,
        hint: true,
        minLength: 3
      },
      {
        displayKey: 'address',
        source: bloodhound.ttAdapter()
    });

    // this is the event that is fired when a user clicks on a suggestion
    $(searchSelector).bind('typeahead:selected', function(event, datum, name) {
      $('#location_id').val(datum.id)
    });
  });



  var locations = [
      ['Bondi Beach', -33.890542, 151.274856, 4],
      ['Coogee Beach', -33.923036, 151.259052, 5],
      ['Cronulla Beach', -34.028249, 151.157507, 3],
      ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
      ['Maroubra Beach', -33.950198, 151.259302, 1]
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(-33.92, 151.25),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }


:css
  .twitter-typeahead{
       width: 100%;
  }
  .tt-dropdown-menu{
      width: 98%;
  }
  input.typeahead.tt-query{ /* This is optional */
      width: 300px !important;
  }
