.col-lg-10
  = form_tag(@submit_path, :method => :patch, :class => "form-horizontal" ) do |f|

    .form-group
      .col-sm-1
        %input.inp_toggle{:type=>"checkbox"}
      .col-sm-2
        %label{:for => :date_taken} Date taken
      .col-sm-9
        = datetime_field_tag :date_taken, "",
          value: (@photo.date_taken.strftime("%Y/%m/%d") unless @photo.nil? || @photo.date_taken.nil?),
          placeholder: "Date taken",
          class: "form-control",
          disabled: true
    .form-group
      .col-sm-1
        %input.inp_toggle{:type=>"checkbox"}
      .col-sm-2
        %label{:for => :location_id} Location
      .col-sm-9
        =text_field_tag :location_address,
          "", placeholder: "Enter address...",
          value:(@photo.location.address unless @photo.nil? || @photo.location.nil?),
          class:"form-control typeahead",
          disabled: true
        =hidden_field_tag :location_id

    .form-group
      %button.btn.btn-danger{:type => "submit"} Submit


:javascript
  $(document).ready(function(){


    $('.inp_toggle').change(function () {
        tb = $(this).parent().siblings().find(":input")
        tb.prop('disabled', !this.checked);
    });

    $('#date_taken').datepicker({
      format: 'yyyy/mm/dd',
      autoclose: true
    });
    $("#date_taken").datepicker('update');

    // initialize bloodhound engine
    var searchSelector = 'input.typeahead';

    var bloodhound = new Bloodhound({
      datumTokenizer: function (d) {
        return Bloodhound.tokenizers.whitespace(d.value);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,

      // sends ajax request to remote url where %QUERY is user input
      remote: '/photos/get_tag_list?query=%QUERY',
      limit: 50
    });
    bloodhound.initialize();

    // initialize typeahead widget and hook it up to bloodhound engine
    // #typeahead is just a text input
    $(searchSelector).typeahead(
      {
        highlight: true,
        hint: true,
        minLength: 3
      },
      {
        displayKey: 'address',
        source: bloodhound.ttAdapter()
    });
    // this is the event that is fired when a user clicks on a suggestion
    $(searchSelector).bind('typeahead:selected', function(event, datum, name) {
      $('#location_id').val(datum.id)
    });
  });

:css
  .twitter-typeahead{
       width: 100%;
  }
  .tt-dropdown-menu{
      width: 98%;
  }
  input.typeahead.tt-query{ /* This is optional */
      width: 300px !important;
  }
