.col-lg-10
  .form-horizontal
    = form_tag(@submit_path, :method => :patch ) do |f|
      .form-group
        %label.col-sm-2.control-label{:for => :date_taken} Date taken
        .col-sm-10
          = datetime_field_tag :date_taken, "", value: (@photo.date_taken.strftime("%Y/%m/%d") unless @photo.nil? || @photo.date_taken.nil?), placeholder: "Date taken", class: "form-control"

      .form-group
        %label.col-sm-2.control-label{:for => :location_id} Location
        .col-sm-10
          -if @photo.location_id.nil?
            = select_tag :location_id, options_for_select(@locations,@no_location_id), {class:"form-control"}
          -else
            = select_tag :location_id, options_for_select(@locations, @photo.location_id), {class:"form-control"}


      .form-group
        .col-sm-offset-2.col-sm-10
          %button.btn.btn-danger{:type => "submit"} Submit

#map{:style=>"height: 400px; width: 500px;"}

:javascript
  $('#date_taken').datepicker({
    format: 'yyyy/mm/dd',
    autoclose: true
  });
  $("#date_taken").datepicker('update');

  var locations = [
      ['Bondi Beach', -33.890542, 151.274856, 4],
      ['Coogee Beach', -33.923036, 151.259052, 5],
      ['Cronulla Beach', -34.028249, 151.157507, 3],
      ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
      ['Maroubra Beach', -33.950198, 151.259302, 1]
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(-33.92, 151.25),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
