
	<div class="col-lg-12">
		<% if @photos.count == 0 %>
		No Photos to display
		<% else %>
	
		<div class="row">
			<%= render @photos %>
		</div>
		<div class="row text-center">
			<%= paginate @photos, :theme => 'twitter-bootstrap-3' %>
		</div>
		<% end %>
	</div>

