.row
  .col.s12.l12
    #photogrid
      =render :partial => "photos/grid"
.row
  .loading-notification
    Loading more...
  .loadMore


#photoDetails.animated.animated-modal
  .modal-content
  .close-modal.close-modal
    Close
