.col-lg-12.col-sm-12
  .box.box-solid
    .box-header.with-border
      %ul.text-right.list-inline
        - if defined? extra_tools.nil?
          %li= render :partial => extra_tools

    .box-body.infinite-container
      =render :partial => "photos/view/grid"


:javascript
  $(document).ready(function() {
    initis()
    function initis() {
      var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        more: $('.next_page').not('.disabled').last()[0],
        onAfterPageLoad:function() {
          $('img.lazy').lazyload()
          $('[data-toggle="popover"]').popover();
          $('.dropdown-toggle').dropdown()
          initis()

        }
      })
    }


  });
