.row
  .col.s12.l12
    #photogrid
      =render :partial => "photos/grid"
.row
  .loading-notification
    Loading more...
  .loadMore


#photo-modal.fullscreen-modal.modal
  .modal-content


#album-list-bucket.modal.modal-fixed-footer
  -# =react_component 'Modal', { input_radio: true, radioGroup: "bucket", albums: Album.all}
  .modal-content
    %h4 Save to album (Bucket)
    -# =react_component 'Albums', { input_radio: true, radioGroup: "bucket", albums: Album.all}
    = render partial: "albums/list", locals: {input_radio: true, radio_group: "bucket"}
  .modal-footer
    %button.btn.btn-default.modal-action.modal-close{:type => "button"} Close
    %button.btn.btn-primary#add-to-album-bucket{"data-dismiss" => "modal", :type => "button"} Save to album

#album-list-photo.modal.modal-fixed-footer
  .modal-content
    %h4 Save to album (Photo)
    = render partial: "albums/list", locals: {input_radio: true, radio_group: "photo"}
  .modal-footer
    %button.btn.btn-default.modal-action.modal-close{:type => "button"} Close
    %button.btn.btn-primary#add-to-album-photo{"data-dismiss" => "modal", :type => "button"} Save to album
