.row
  .col.s12.l12
    #photogrid
      =render :partial => "photos/grid"
.row
  .loading-notification
    Loading more...
  .loadMore



.hidden-page-elements
  =render "layouts/bottompanel"
  =render "modals/bucket.add_tags"
  =render "modals/photo.fullscreen_details"
  =render "modals/album.add_photo"
  =render "modals/album.add_from_bucket"
