.col-lg-12.col-sm-12
  .box.box-solid
    .box-header.with-border
      %ul.text-right.list-inline
        - if defined? extra_tools.nil?
          %li= render :partial => extra_tools

    .box-body.infinite-container
      =render :partial => "photos/view/grid"
    .loadMore
#myModal.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-body

:javascript

  $(document).ready(function() {
    modalInit()

  var waypoint = new Waypoint({
    element: $('.loadMore'),
    offset: function() {
      return this.context.innerHeight() - this.adapter.outerHeight() + 500
      },
    handler: function(direction) {
      if (direction == "down") {
        getNextPage();
      }
    }
  })


  });
  function getNextPage() {
    url = $('.next_page').last()[0].href
    var nextPage = $.get(url)
    nextPage.success(function(data) {
      $('.infinite-container').append(data)
      afterAjaxrefresh()
      Waypoint.refreshAll()
      //afterAjaxrefresh()
    });
  }

  function afterAjaxrefresh() {
    $('img.lazy').lazyload()
    $('[data-toggle="popover"]').popover();
    $('.dropdown-toggle').dropdown()
    modalInit()
  }

  function modalInit() {
    $('.fa-eye').on("click", function(){
      url = "/photos/" + $(this).attr("photo_id")
      $('.modal-body').load(url,function(result){
        $('#myModal').modal({
          show: true,
          keyboard: true
        });
      });
    });
  }




  //    function InfinitescrollInit() {
  //      var infinite = new Waypoint.Infinite({
  //        element: $('.infinite-container')[0],
  //        more: $('.next_page').not('.disabled').last()[0],
  //        offset: 3000,
  //        onAfterPageLoad:function() {
  //          $('img.lazy').lazyload()
  //          $('[data-toggle="popover"]').popover();
  //          $('.dropdown-toggle').dropdown()
  //          modalInit()
  //          InfinitescrollInit()
  //          console.log("kaj")
  //        }
  //      })
  //    }
