%row
  %ul.text-right.list-inline
    %li= link_to icon('fa fa-th', class: 'fa-lg'), controller: controller_name, action: action_name, viewmode: 'grid'
    %li= link_to icon('fa fa-th-list', class: 'fa-lg'), controller: controller_name, action: action_name, viewmode: 'list'
- if @view == 'list'
  = render :template => "photos/_list"
- else
  = render :template => "photos/_grid"
