.photo-widget.z-depth-5{"data-photoid"=>photo.id, :tabindex=>"0"}
  .photo-widget-content
    .photo-widget-header
      .overlay-button.overlay-select{:class => [@bucket.include?(photo.id) && "selected"]}
        %i.fa.fa-check-circle-o
      .overlay-button.overlay-zoom
        %i.fa.fa-eye
      .overlay-button.overlay-delete
        %i.fa.fa-trash-o
      .overlay-button.overlay-processing{:class => [photo.status > 5 && "overlay-show"]}
        %i.fa.fa-tasks
      %img.lazy{:photo_id=>(photo.id), "data-original"=>"#{photo.url('tm')}", :href => "#animatedModal"}
    .photo-widget-date
      =photo.date_taken_formatted
