.photo-widget.z-depth-1{"data-photoid"=>photo.id, :tabindex=>"0"}
  .photo-widget-content
    .photo-widget-header
      .overlay-button.overlay-select{:class => [@bucket.include?(photo.id) && "selected"]}
        %i.material-icons check
      .overlay-button.overlay-zoom
        %i.material-icons zoom_out_map
      .overlay-button.overlay-delete
        %i.material-icons delete_forever
      .overlay-button.overlay-processing{:class => [photo.status > 5 && "overlay-show"]}
        %i.material-icons update
      %img.lazy{:photo_id=>(photo.id), "data-original"=>"#{photo.url('tm')}", :href => "#animatedModal"}
    .photo-widget-date
      =photo.date_taken_formatted
