=content_for :title, "Photos"
=content_for :subtitle, ""


-# .box.box-success{:style => "border-top-color: #139CF2;"}
-#   .box-header.with-border
-#     = render :partial => 'breadcrumb'
-#     .box-tools.pull-right
-#       %button.btn.btn-box-tool{"data-widget" => "collapse", :type => "button"}
-#         %i.fa.fa-minus
-#   .box-body
-#     = render :partial => 'searchbox'


.row
  = render :partial => 'index'
