.row.image_info#photo_id{:photo_id=>@photo.id, "data-photo_id"=>@photo.id}
  .box.box-primary
    .box-header.with-border
      .box-body
        .col-md-7#modal_image
          =image_tag "#{@photo.url('lg')}", {class: "img-responsive"}
        .col-md-5
          =render :partial => "photos/show/tabs", :locals => {:photo => @photo }
