
.row.image_info{:photo_id=>@photo.id}
  .box.box-primary
    .box-header.with-border
      .box-body
        .col-md-7#modal_image
          = image_tag "/photofiles/#{@photo.md_id.to_s}/photoserve", {style:"margin: 0 auto;", class: "img-responsive"}
        .col-md-5
          =render :partial => "photos/show/tabs", :locals => {:photo => @photo }


:javascript
  $(document).ready(function() {
    var wH = $(window).height() - 50;

    $('#modal_image').children("img").height(wH)
  })
