<div class="modal fade" id="<%= modal_id %>" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
			<div class="modal-header">
				<%= title %>
			</div>
			<div class="modal-body">
        <%= content %>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Abort</button>
				<a class="btn btn-default" href="#" role="button"><%= button_text %></a>
			</div>
    </div>
  </div>
</div>
