.modal.fade{:id => modal_id, :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        = title
      .modal-body
        = content
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Abort
        %a.btn.btn-default{:href => "#", :role => "button"}= button_text
