.control-sidebar {
  height: 100%;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-top: 55px;
  padding-right: 5px;
  z-index: 5;
  overflow: hidden;
}

.control-sidebar > .tab-content {
  padding-left: 0px;
  padding-right: 0px;
}

.ui-autocomplete {
    max-height: 110px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1000
}

.bootstrap-tagsinput {
  width: 100%
}
