.control-sidebar {
  background-color: white;
  height: 100%;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-top: 55px;
  padding-right: 5px;
}

.context-menu {
  width: 10px;
  overflow: hidden;
  padding-left: 10px;
  background-color: transparant;
  height: 100%;
  position: absolute; top: 0px; right: 0px;
  z-index: 999;
}

#pin {
  margin-left: 15px;
}
