#bucket-panel {

  width: 100%;
  bottom: 0px;
  left: 0px;
  position: fixed;
  z-index: 5;
  max-height: 30px;
  overflow-y: visible;
  -webkit-transition: max-height 0.5s ease-in-out;
  -moz-transition: max-height 0.5s ease-in-out;
  -o-transition: max-height 0.5s ease-in-out;
  transition: max-height 0.5s ease-in-out;
}

#bucket-panel.show {
  max-height: 180px;
}
.bucket-tab {
  border-radius: 8px 8px 0 0;
  margin-left: 25px;
  width: 100px;
  height: 30px;
  background: #4dd0e1 ;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
}

.bucket-contents {
  padding: 10px;
  height: 150px;
  background: #4dd0e1 ;
}

.bucket-photos {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  background: #0097a7;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#bucket {

}

.bucket-tools {
  padding:5px;
  height: 50px;
  // margin-bottom: 5px;
  // background: #0097a7;
  // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#bucket-list {
  height: 64px;
}

#bucket-list > img {
  width:64px;
  display: inline;
}
