.photo-widget {
  float: left;
  border: none;
  position: relative;
  width:125px;
  padding-bottom: 15px;
  margin-left:10px;
  margin-right:10px;
}
.photo-widget-header {
  height: 125px;
  width: 125px;
}

.photo-widget-overlay {
  position:relative;
  top:0px;
  width:125px;
  height:125px;
  background:#FF2400;
  opacity:1;
}

.bucket {
  opacity:0.5;
}
.photo-widget-header img {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.photo-widget-footer {
  background-color:#e2dcdc;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.photo-title-label {
  padding-left: 4px;
  font-weight: bold;
}
.photo-title {
  padding-left: 14px;
  margin-top: -7px;
}
.photo-tool {

  margin-top: 1px;
  padding-bottom: 5px;
}
