- flash.each do |type, message|
  .flash{:class => "alert #{bootstrap_class_for(type)} fade in"}
    %button.close{"data-dismiss" => "alert"} ×
    = message


:coffee
  $(document).ready ->
    $('.flash').delay(500).fadeIn 'normal', ->
      $(this).delay(2500).fadeOut()
      return
    return
