.row
  .col.s12.cards-container
    =render :partial => @locations
    
:css
  .cards-container {
    column-break-inside: avoid;
    .card {
      display: inline-block;
      overflow: visible;
    }
  }
