.bottom-panel.show
  .panel-tabs
    .panel-tab.h6#bucket-tab{"data-content" => "bucket-panel"}
      #bucket_counter
    .panel-tab.h6#filter-tab{"data-content" => "filter-panel"}
      %span
        Filter
    .panel-tab.h6#hide-tab
      %span
        Hide
  .panel-contents
    .panel-content#bucket-panel
      .bucket-tools
        %a.dropdown-button.btn.cyan.darken-2{"data-activates" => "dropdown1", :href => "#"}
          Rotate
        %ul#dropdown1.dropdown-content
          %li
            %a#rotate-bucket{:href => "#", "data-degrees"=>90}
              .fa.fa-rotate-right
              90&#176;
          %li
            %a#rotate-bucket{:href => "#", "data-degrees"=>180}
              .fa.fa-rotate-right
              180&#176;
          %li
            %a#rotate-bucket{:href => "#", "data-degrees"=>270}
              .fa.fa-rotate-right
              270&#176;
        %a.waves-effect.waves-light.btn.cyan.darken-2#like-bucket{:type => "button"}
          %i.material-icons thumb_up
        %a.waves-effect.waves-light.btn.cyan.darken-2#unlike-bucket{:type => "button"}
          %i.material-icons thumb_down
        %a.waves-effect.waves-light.btn.cyan.darken-2#delete-bucket{:href => "#", :type => "button"}
          %i.material-icons delete
        %a.waves-effect.waves-light.btn.cyan.darken-2#clear-bucket{:type => "button"}
          %i.material-icons clear
        %a.waves-effect.waves-light.btn.cyan.darken-2#add-to-album-bucket{:href => "#album-list-bucket", :type => "button"}
          %i.material-icons photo_album
      .bucket-photos
        #bucket
    .panel-content#filter-panel
      .bucket-tools.row
        .col.l4
          .input-field
            %label{:for => "search-date"} Date
            %input.datepicker#search-date{:type => "date", :label => "Date:"}
          .input-field
            = select_tag :search_country, options_for_select(@countries, @album.country)
            %label Country
        .col.l4
          .switch
            %label
              Backwards
              %input#search_direction{:type => "checkbox"}
              %span.lever
              Forwards
          .switch
            %label
              All
              %input#search_like{:type => "checkbox"}
              %span.lever
              Only liked photos
