.context-menu
%aside.control-sidebar.control-sidebar-light
  .row
    %button.fa.fa-thumb-tack.btn.btn-xs#pin{:type => "button"}

  - if params[:controller] == 'photos' && params[:action] == 'index'
    = render :partial => 'photos/breadcrumb'
    = render :partial => 'photos/searchbox'
    .box.box-widget
      .box-header.with-border
        %button.btn.btn-default.btn-xs#like{:type => "button"}
          %i.fa.fa-thumbs-o-up
          Like
        %button.btn.btn-default.btn-xs#unlike{:type => "button"}
          %i.fa.fa-thumbs-o-down
          Unlike

      .box-footer
        %img.img-responsive.img-circle.img-sm{:alt => "Alt Text", :src => current_user.avatar.url}
          / .img-push is used to add margin to elements next to floating images
          .img-push
            %input.form-control.input-sm#comment-input-bucket{:placeholder => "Press enter to post comment", :type => "text"}



    .bucket
