%aside.control-sidebar.control-sidebar-light
  - if params[:controller] == 'photos' && params[:action] == 'index'
    = render :partial => 'photos/breadcrumb'
    = render :partial => 'photos/searchbox'


:javascript
  $( "#sidebar-hover" ).hover(
    function() {
      $.AdminLTE.controlSidebar.open()
    },
    null
  )
  $( ".control-sidebar" ).hover(
    null,
    function() {
      $.AdminLTE.controlSidebar.close()
    }
  )


  $( "#sidebar-hover" ).on("click", function() {
      $.AdminLTE.controlSidebar.close()
  })
