%aside.control-sidebar.control-sidebar-dark.control-sidebar-open
  / Create the tabs
  %ul.nav.nav-tabs.nav-justified.control-sidebar-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#control-sidebar-theme-demo-options-tab"}
        %i.fa.fa-wrench
    %li
      %a{"data-toggle" => "tab", :href => "#control-sidebar-home-tab"}
        %i.fa.fa-home
    %li
      %a{"data-toggle" => "tab", :href => "#control-sidebar-settings-tab"}
        %i.fa.fa-gears
  / Tab panes
  .tab-content
  
    #control-sidebar-home-tab.tab-pane

    #control-sidebar-theme-demo-options-tab.tab-pane.active

    #control-sidebar-settings-tab.tab-pane
