.fixed-action-btn
  %a.btn-floating.btn-large.cyan.darken-4
    %i.large.material-icons menu
  %ul
    %li
      %a.btn-floating.red{"data-target"=>"list-modal", :href => "#"}
        %i.material-icons settings

    %li
      %a.btn-floating.yellow.darken-1{:href => "/catalogs"}
        %i.material-icons archive
    %li
      %a.btn-floating.green{:href => "/albums"}
        %i.material-icons collections
    %li
      %a.btn-floating.green{:href => "/locations"}
        %i.material-icons room
    %li
      %a.btn-floating.blue{:href => "/photos"}
        %i.material-icons photo
