/ Main Footer
%footer.main-footer{"style"=>"z-index: 1000"}
  / To the right
  .pull-right.hidden-xs
    Anything you want
  / Default to the left
  %strong
    Copyright &copy; 2015
    = succeed "." do
      %a{:href => "#"} Company
  All rights reserved.
