/ Main Header
%header.main-header
  / Logo
  %a.logo{:href => "/photos"}
    / mini logo for sidebar mini 50x50 pixels
    %span.logo-mini
      %b PT
    / logo for regular state and mobile devices
    %span.logo-lg
      %b Phototank
  / Header Navbar
  %nav.navbar.navbar-static-top{:role => "navigation"}
    / Sidebar toggle button
    %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
      %span.sr-only Toggle navigation
    / Navbar Right Menu
    .navbar-custom-menu
      %ul.nav.navbar-nav
        / User Account Menu
        %li.dropdown.user.user-menu
          / Menu Toggle Button
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            / The user image in the navbar
            %img.user-image{:alt => "User Image", :src => current_user.avatar.url}
              / hidden-xs hides the username on small devices so only the image appears.
              %span.hidden-xs=current_user.name
          %ul.dropdown-menu
            / The user image in the menu
            %li.user-header
              %img.img-circle{:alt => "User Image", :src => current_user.avatar.url}
                %p
                  = current_user.name
                  %small=current_user.created_at
            / Menu Body
            %li.user-body
              .col-xs-4.text-center
                %a{:href => "#"} Followers
              .col-xs-4.text-center
                %a{:href => "#"} Sales
              .col-xs-4.text-center
                %a{:href => "#"} Friends
            / Menu Footer
            %li.user-footer
              .pull-left
                %a.btn.btn-default.btn-flat{:href => "/users/edit"} Profile
              .pull-right
                = link_to('Logout', destroy_user_session_path, :method => :delete, :class=>"btn btn-default btn-flat")

        / Control Sidebar Toggle Button
        %li#sidebar-hover
          %a{"data-toggle" => "control-sidebar", :href => "#"}
            %i.fa.fa-gears
