/ Left side column. contains the logo and sidebar
%aside.main-sidebar
  / sidebar: style can be found in sidebar.less
  %section.sidebar
    / Sidebar Menu
    %ul.sidebar-menu
      / Optionally, you can add icons to the links
      %li.active
        %a{:href => "/photos"}
          %i.fa.fa-picture-o
          %span  Photos
      %li
        %a{:href => "/albums"}
          %i.fa.fa-book
          %span Albums
      %li
        %a{:href => "/catalogs"}
          %i.fa.fa-folder
          %span Catalogs
      %li
        %a{:href => "/locations"}
          %i.fa.fa-map-marker
          %span Locations
      %li.treeview
        %a{:href => "#"}
          %i.fa.fa-cogs
          %span Jobs
          %i.fa.fa-angle-left.pull-right
        %ul.treeview-menu
          %li
            = link_to "Jobs", "/jobs"
          %li
            = link_to "Job queue", "/resque/overview", :target => "_blank"
          %li
            = link_to "Failed", "/resque/failed", :target => "_blank"
