!!!
%html
  %head
    %meta{:content => "width=device-width, maximum-scale=1, user-scalable=no, initial-scale=1.0", :charset => "UTF-8", "http-equiv" => "Content-Type", "name"=>"viewport"}/
    %title Phototank
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.skin-black.sidebar-mini.sidebar-collapse{"data-no-turbolink" => true}
    %a.back-to-top{:href=>"#", :style=>"display: inline;"}>
      %i.fa.fa-arrow-circle-up.fa-2x

    .wrapper
      / Main Header
      %header.main-header
        / Logo
        %a.logo{:href => "/photos"}
          / mini logo for sidebar mini 50x50 pixels
          %span.logo-mini
            %b PT
          / logo for regular state and mobile devices
          %span.logo-lg
            %b Phototank
        =render "layouts/header_navbar"
      =render "layouts/side_navbar"
      =render "layouts/content"
      =render "layouts/control_sidebar"
